/* Settings Button */
.settingsButton {
	position: absolute;
    right: 0;
    top: 0;
    font-size: 2.5rem;
	margin: 1.875rem 2.5rem;
    color: #ffffff;
}

.settingsButton:hover{
	cursor: pointer;
	transform: scale(1.2);
}

/* Play Button */
.playButton {
	font-size: 16.25rem;
}

.playButton:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* Timer */
.timerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timerMenu {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.timerIcon {
	color: rgba(255, 255, 255, 1);
	font-size: 1.875rem;
    margin-top: 2.5rem;
}

.timerIcon:hover {
	cursor: pointer;
	transform: scale(1.3);
}

.timerClock:hover {
    cursor: pointer;
}

.timerClockIcon {
	font-size: 4.688rem;
}

.timerClockIcon:hover{
	transform: none;
}

.timerClockSmallText {
    font-size: 50pt;
}

.timerClockBigText {
    font-size: 70pt;
}

/* Plan Bar */
.planBar {
    position: fixed;
    bottom: 2.188rem;
    left: 50%;
    transform: translate(-50%);

    
    padding: 0.438rem;
    background-color: #FFFFFF;
    border-radius: 3.125rem;
    box-shadow: 0rem 0rem 3.125rem 0rem rgba(0, 0, 0, 0.5);
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}
  

.plan {
    color: #333333;
    font-size: 1.875rem;
    border-radius: 3.125rem;
    padding: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.813rem;
    cursor: pointer;
}

.plan:hover {
    background-color: #faedcd
}

/* .plan:hover button {
    color: #FFFFFF;
} */

.plan button {
    font-size: 1rem;
}

.active {
    background-color: #d4a373;
}

/* .active button {
    color: #FFFFFF;
} */

.active:hover {
    background-color: #d4a373;
}

.plan button {
    background: none;
}


.state {
	position: absolute;
    left: 2.5rem;
    top: 1.875rem;
    font-size: 2.188rem;
    color: #ffffff;
}